#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 90vh;
}

.hero-background, .home-overlay {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 7%;
  width: 86%;
  height: 55rem;
  object-fit: 50% 50%;
}

.home-overlay {
  z-index: -1;
  background-color: rgba(4, 4, 35, 0.85);
}

.hero-content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.75rem;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

.booking-button {
  background-color: #ffa217;
  color: white;
  border: none;
  border-radius: 0.1rem;
  margin-top: 2rem;
  padding: 1.25rem 2.75rem;
  font-size: 1rem;
  align-self: flex-start;
  cursor: pointer;
  transition: background-color 0.2s;
}

.booking-button:hover {
  background-color: #ffad32;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-spinner {
  align-self: center;
  width: 90%;
  margin: 0 auto;
  will-change: transform;
  animation: spin 35s infinite linear;
}

